    body
    {
        font-family: Arial;
        padding: 0;
        margin: 0;
    }
    header, footer
    {
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    nav
    {
        background-color: #444;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    nav ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li 
    {
        display: inline;
        margin-right: 20px;
    }
    nav ul li a
    {
        color: #fff;
        text-decoration: none;
    }
    #fContato
    {
        list-style-type: none;
        justify-content: center;
        align-items: center;
        padding-right: 400px;
        padding-left: 400px;
        padding-top: 50px;
    }
    #fContato :last-child
    {
        margin-bottom: 50px;
    }
    #nomeC
    {
        padding: 5px 300px;
    }
    #email
    {
        padding: 5px 300px;
    }
    #numC
    {
        padding: 5px 300px;
    }
    #msg
    {
        padding: 100px 300px;
    }
    
    .entry, .form-contact textarea 
    {
        display: block;
        margin: 0 auto 25px;
        padding: 4px 9px;
        font-size: 18px;
        width: 50%;
        box-sizing: border-box;
        resize: none;
        overflow: auto;
    }